/* место для вашего кода */
/* плавный переход */
html {
  scroll-behavior: smooth;
}

/* шапка */
.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  /* первый контейнер занимает 2/5 второй столбик 1/5 третий 2/5 */
  margin: 92px 49px 92px 51px;
}

/* контейнер навигации nav */
.header_menu {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  text-underline-offset: 4px;
}

/* список навигации ul*/
.header_links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

/* пункт списка ссылок li*/
/* .header_links-list-item {
} */

/* убираем кружочки */
.links-list-item_no-bullit {
  list-style-type: none;
}

/* .header_link {
} */

/* вложенная активная ссылка */
/* убирание подчеркивания */
.header_link_active .header_link {
  text-decoration: none;
}

/* контейнер логотипа */
.header_logo {
  display: block;
  margin: auto;
}

/* картинка с логотипом */
.header_logo-image {
  width: 100%;
}

/* сброска стилей тега address */
address {
  font-style: normal;
}

/* контейнер с адресом */
.address {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  text-underline-offset: 4px;
}

/* выравнивание блока с адресом */
.header_address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 5px 3px 0px 0px;
}

.header_address-link {
  max-width: 26%;
}

/* входная секция (может и не нужен)*/
/* .main{} */

.cover {
  /* padding: 145px 50px 50px 50px; */
  position: relative;
  margin-bottom: 180px;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* полупрозраный блок */
.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* заголовок */
.cover_title {
  position: relative;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

/* классы для выравнивания строк текста и превращения их в блочный элемент */

.text-block {
  display: block;
}

.aligned-text-left {
  padding: 165px 50px 10px 50px;
}

.aligned-text_center {
  padding: 10px 50px 10px 50px;
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  padding: 10px 50px 20px 50px;
  line-height: 1;
  text-align: right;
}

/* класс для управления межбуквенным растрояним в местах, где есть эти акценты */
.letter-spacing-extended {
  letter-spacing: 60px;
}

/* класс для обнуления общего межбуквенного расстояния для последней буквы */
.no-letter-spacing {
  letter-spacing: 0px;
}

/* контейнер для подзаголовка и кнопки */
.cover_description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: 82px;
  padding: 115px 50px 50px 0px;
  font-style: normal;
}

/* текст подзаголовка */
.cover_description-text {
  z-index: 1;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 17px;
  /*расстояние между словами */
}

/* кнопка «Сделать ставку */
.bet-button {
  z-index: 1;
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
}

/* секция с карточками лотов */
.lots {
  max-width: 1440px;
  padding: 0px 50px 0px 50px;
  font-family: Raleway, Arial, sans-serif;
}

/* заголовок секции */
.lots_heading {
  display: block;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

/* список карточек */
.lots_card-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 27px;
  padding-bottom: 30px;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  list-style: none;
}
/* пункт списка карточки */
.lots_card-list-item {
  flex-grow: 1;
  width: 430px;
  height: 450px;
}
/* ссылка, обрамляющая карточку */
.card-link {
  text-decoration: none;
}
/*  карточка */
.card {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;

  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* классы, чтобы задать определённый фон каждой из карточек */
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

/* заголовок карточки */
.card_title {
  z-index: 1;

  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;

  padding: 50px 40px 0px 40px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}
/* текст карточки */
.card_text {
  z-index: 1;

  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;

  align-items: end;
  padding: 0px 40px 50px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

/* ссылка «Посмотреть больше» */
.lots_look-more-link {
  padding-left: 40px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

/* секция с информацией об аукционе */
.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* первый столбик с лого занимает 1/3, второй столбик 2/3 */
  column-gap: 10px;
  margin: 181px 50px 0px 50px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
}

/* класс для колонки с текстом */
.about_column {
  display: grid;
}

.logo_column {
  display: grid;
  justify-content: space-around;
  width: 430px;
}

/* контейнер с логотипом */
.about_logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 240px;
  background-color: #000;
}

/* изображение логотипа */
.about_logo-image {
  width: 148px;
  height: 114px;
}

/* заголовок секции */
.about_title {
  display: grid;
  padding: 101px 0px 53px 2px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

/* блок для текстов секции */
.about_text {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 46px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

/* подвал */
.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 120px;
  margin: 180px 50px 90px 50px;
}

.footer_address {
  display: grid;
  padding-top: 2px;
}

.footer_address-link {
  max-width: 31%;
}

/* блок навигации по списку ссылок */
.footer_menu {
  display: grid;
  padding-top: 1px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

/* список пунктов меню */
.footer_menu-list {
  text-align: center;
}

/* пункт списка меню */
.footer_menu-list-item {
  text-underline-offset: 4px;
  list-style-type: none;
}

/* ссылка меню */
/* .footer_menu-link {} */

/* активная ссылка меню */
/* вложенность для убирания подчеркивания активной страницы */
.footer_menu-link_active .footer_menu-link {
  text-decoration: none;
}

/* список ссылок на социальные сети */
.footer_social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  gap: 48px;
  max-width: 240px;
  padding-bottom: 45px;
}

.footer_social-menu {
  display: grid;
  justify-content: end;
}

/* пункт списка ссылок на социальные сети */
.footer_social-list-item {
  display: grid;
  align-content: center;
}

/* ссылка на социальные сети */
/* .footer_social-link {
} */

/* иконка социальной сети */
/* .footer_social-icon {
} */
